*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ol,ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    background-image: url(../img/Imagen\ de\ WhatsApp\ 2024-11-22\ a\ las\ 12.37.23_74fd6c9b.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: bottom;
}
.titulo{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #033c89;
    margin: 5px 0px;
}
.subtitulo{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #033c89;
    font-size: 15px;
    margin-top: 5px;
}

/* CSS DEL INDEX */
header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10%;
}
.items{
    display: flex;
    justify-content: space-between;
}
.items li{
    margin: 0px 10px;
}
.buscar{
    background-color: #033c89;
    color: white;
    padding: 3px 10px;
    border: solid white 2px;
    border-radius: 5px;
    font-size: 12px;
}
.imgfetch{
    width: 40%
}
.recetassection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} 
.recetasarticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    margin-top: 30px;
}
.completarb{
    display: none;
}
.titindex{
    text-align: center;
}
.artboton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.vermas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 10px;
    margin: 10px 5px;
    width: 150px;
    border: 1.5px #033c89 solid;
    border-radius: 10px;
}

/* CSS DEL CATEGORIES */
.categorias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3%;
}
.tc{
    text-align: center;
    margin: 0.8%;
}
.medio{
    height: 120px;
    background-image: url(../img/981ddcc2ee9584888ce593dc4b2dd24e.jpg);
    background-repeat: repeat;
    background-position: bottom;
    background-size: contain;
}
.cadacategoria{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color:#7895bc5c;
    border-radius: 15px;
    padding: 20px;
    margin: 1%;
    border: 1.5px #033c89 solid;
}
.cadacategoria:hover{
    background-color:#7895bc88;
    border: 2px #033c89 solid;
}

/* CSS DEL LOGIN */
.cajalogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.formulariologin{
    background-color: #7895bc5c;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.flogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemslogin{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 10px;
    margin: 10px 5px;
    width: 250px;
    border: 1.5px #033c89 solid;
    border-radius: 10px;
}
.botoneslogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px; 
    padding: 20px;
}
.cuenta{
    display: block;
    text-wrap: nowrap;
    color: white;
    padding: 3px;
}
button{
    background-color: #033d8974;
}

/* CSS DEL REGISTER */
.completarc{
    display: none;
}
.completare{
    display: none;
}
.tyc{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
}
